---
interface Props {
  invertOnHover?: boolean
  class?: string
}

const { invertOnHover = false, class: className } = Astro.props
---

<div
  class:list={[
    "group relative overflow-hidden rounded-lg border bg-background-1 p-6 transition-colors duration-500 hover:z-10",
    invertOnHover ? "border-border hover:border-foreground hover:bg-foreground" : "border-border hover:bg-background-0",
    className,
  ]}
>
  <slot />
</div>
